{
  "env": {
    "cjs": {
      "plugins": [
        "transform-es2015-arrow-functions",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "syntax-trailing-function-commas",
        "transform-inline-environment-variables",
        "transform-async-to-generator"
      ]
    },

    "ava": {
      "plugins": [
        "transform-es2015-arrow-functions",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "syntax-trailing-function-commas",
        "transform-inline-environment-variables",
        "transform-es2015-modules-commonjs",
        "transform-async-to-generator"
      ]
    }
  }
}
